<div id="slider">
    <figure>  
    <img src="/assets/images/image3.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/classroom.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/librarie.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/computer.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/bus.jpg" height="800px" width="800px" alt>
    </figure>
    </div>
