
h3 {
    animation-duration: 8s;
    color:brown;
    font-size:40px;
    animation-name: slidein;
    animation-iteration-count: infinite;
    }
    
    @keyframes slidein {
    0% {
    margin-left: 10%;
    }
    50% {
    margin-left: 1000px;
    }
    100% {
    margin-left: 10%;
    }
    }
p{
    text-align:center;
    color:brown;
    font-size:40px;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:30px;
    user-select: all;
    overflow: hidden;
    background-color: #333;
    }
    
    li {
    float: left;
    }
    #t1
    {
    float:right;
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover:not(.active) {
    background-color: #111;
    }
    
    .active {
    background-color: #4CAF50;
    }
    @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; }
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slidy infinite;
    }
    
    