<h3>National public school</h3>
<ul>
<li><a routerLink="home">Home</a></li>   
<li><a routerLink="aboutus">About school</a></li>
<li><a routerLink="contactus">Contact us</a></li>
<div id="t1">
<li><a routerLink="gallery">Gallery</a></li>
<li><a routerLink="student">Student </a></li>
</div>
</ul>
<div id="slider">
<figure>
<img src="/assets/images/image2.jpg" height="400px" width="1500px" alt>
<img src="/assets/images/child1.jpg" height="400px" width="1500px" alt>
<img src="/assets/images/src2.jpg" height="400px" width="1500px" alt>
<img src="/assets/images/src3.jpg" height="400px" width="1500px" alt>
</figure>
</div>
<router-outlet></router-outlet>