
<div id="sect1"class="container">

  <p>Student detail </p>
  <div class ="parent">
  <div>
  <form #contact = "ngForm" (ngSubmit) = "onClickSubmit(contact.value)">
  <input type = "text" name = "name" placeholder = " Name" ngModel>
  
  <input type = "text" name = "addmissionnum" placeholder = "Addmissionnum" ngModel>

  <input type = "text" name = "password" placeholder = "Password" ngModel>
  
  <input type = "text" name = "feepaid" placeholder = "Feepaid" ngModel>
  
  <input type = "text" name = "feepending" placeholder = "Feepending" ngModel>
  
  <input type = "submit" value = "Submit">
  </form>
  </div>