p{
    text-align:center;
    color:green;
    font-size:50px;

}
.parent {
    display:flex;
    justify-content:center;
    align-items:center;
}
#sect1 {
    height: 650 px;
    color: #fff;background-image: url("../../assets/images/f1.jpg" );
    background-size:400% ;
    background-size: cover;
    }
    input[type=text], select {
        width: 55%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        }
        
        input[type=submit] {
        width: 55%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        }
        
        input[type=submit]:hover {
        background-color: #45a049;
        }
        
        div {
        border-radius: 5px;
        background-color: black;
        padding: 20px;
        }