p{
    
    text-align:center;
     color:crimson;
     font-size:50px;
 

 
    }
 .parent {
     display:flex;
     justify-content:center;
     align-items:center;
 }
 h1 {
     align-content:center;
     color:grey;
     font-size:25px;
 }
 ul{
     background-color:cyan;
     align-content:center;
 }
